
@media only screen and (max-width: 600px) {
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #priceBoxCenter{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .inputSize {
        width: 250px;
        margin-bottom: 10px;
    }
    .tickerBox {
        color: white;
    }
}

@media only screen and (min-width: 600px) {
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #priceBoxCenter{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .tickerBox {
        height: 40%;
        width: 40%;
        color: white;
    }    
    .inputSize {
        width: 200px;
        margin-bottom: 10px;
    }
}